/* AddonSettings head page */

.addon-settings-card {
    background-color: var(--lg);
    border-radius: 15px;
    width: auto;
    margin-top: 20px;
}

.setting-option-component-margin-col {
    margin-top: 40px;
    margin-bottom: 40px;
}

.setting-option-component-margin-row {
    margin-left: 20px;
    margin-right: 20px;
}

/* Setting option #1 */
.addon-settings-form-input-small {
    width: 25%;
    color: var(--white);
    background-color: var(--lg);
    border-radius: 10px;
    border-width: 2px;
}

.addon-settings-form-input-small:focus {
    width: 25%;
    color: var(--white);
    background-color: var(--lg);
    border-radius: 10px;
    border-width: 2px;
}

/* Setting option #2 */

.addon-settings-title-subtext {
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 20px;
    color: var(--white);
}

.addon-settings-switch:checked {
    color: var(--mo);
}

.form-check-input:checked {
    background-color: var(--mo) !important;
    border-color: var(--mo)
}

/* Setting option #3 */
.addon-settings-title-text{
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 23px;
    color: var(--white);
}

.addon-settings-dropdown-button{
    border-radius: 10px !important;
    background-color: var(--lg) !important;
    border-color: var(--white) !important;
    border-width: 2px !important;
}

.addon-settings-dropdown-button:hover{
    border-radius: 10px !important;
    background-color: var(--lg) !important;
    border-color: var(--white) !important;
    border-width: 2px !important;
}

.addon-settings-dropdown-button:active:focus {
    border-radius: 10px !important;
    background-color: var(--lg) !important;
    border-color: var(--white) !important;
    border-width: 2px !important;
}


.addon-settings-margin {
    margin-top: 15px;
}

.addon-settings-dropdown-menu {
    background-color: var(--lg);
    border-color: var(--white);
    border-width: 2px;
}

.addon-settings-dropdown-menu-items {
    color: var(--white);
    border-color: var(--white);
    border-width: 2px;
}

.addon-settings-dropdown-menu-items:active {
    color: var(--white);
    border-color: var(--white);
    border-width: 2px;
    background-color: var(--lg);
}

/* Setting option #4 */
.addon-settings-form-input-large {
    width: 75%;
    color: var(--white);
    background-color: var(--lg);
    border-radius: 10px;
    border-width: 2px;
}

.addon-settings-form-input-large:focus {
    width: 75%;
    color: var(--white);
    background-color: var(--lg);
    border-radius: 10px;
    border-width: 2px;
}

/* Save button */

.save-button:hover {
    background-color: var(--mo);
    border-color: var(--mo);
    border-radius: 10px;
    color: var(--black);
    font-weight: bold;
}

.save-button:focus {
    background-color: var(--mo);
    border-color: var(--mo);
    border-radius: 10px;
    color: var(--black);
    font-weight: bold;
}

.save-button {
	max-width: 40%;
    background-color: var(--mo);
    border-color: var(--mo);
    border-radius: 10px;
    color: var(--black);
    font-weight: bold;
}

.setting-save-button {
	justify-content: center;
	gap: 25px;

}

/* @media screen
    and (min-device-width: 1200px)
    and (max-device-width: 1600px)
    and (-webkit-min-device-pixel-ratio: 1) {

    .addon-settings-card {
        width:100%;
    }

} */

@media (max-width: 968px) {

    .profile-content-wrapper {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

    .profile-card {
    background-color: var(--lg);
    border-radius: 15px;
    width: 100%;

}
}