.form-text {
    font-family: 'Segoe UI';
    font-weight: bold;
    color: white;
}

.rounded-border {
    border-radius: 15px;
}

.card-login-style {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 15px;
}

.login-main-content {
    padding-left: 0;
    padding-right: 0;
}

.login-content {
    margin-bottom: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-text-login-style {
    padding-top: 20px;
}

.form-input-login-style {
    color: var(--white);
    background-color: var(--lg);
    border-radius: 15px;
    border-width: 2px;
}

.form-input-login-style:focus {
    color: var(--white);
    background-color: var(--lg);
    border-radius: 15px;
    border-width: 2px;
}

.login-button:hover {
    background-color: var(--mo);
    border-color: var(--mo);
    border-radius: 10px;
}

.login-button {
    background-color: var(--mo);
    border-color: var(--mo);
    border-radius: 10px;
}

.sign-in-text {
    font-family: 'Segoe UI';
    font-weight: bold;
    color: var(--black);
}

.login-google-button:hover {
    background-color: var(--lg);
    border-color: white;
    border-radius: 10px;
}

.login-google-button {
    background-color: var(--lg);
    border-color: white;
    border-radius: 10px;
}

.login-max-width {
    max-width: none;
}

.login-margin-button {
    margin-top: 3rem;
}

@media (max-width: 968px) {

    .login-text {
        margin-bottom: 20px;
    }

    .card-login-style {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 15px;
    }

    .login-google-button {
    background-color: var(--lg);
    border-color: white;
    border-radius: 10px;
    }

    .login-google-button:hover {
    background-color: var(--lg);
    border-color: white;
    border-radius: 10px;
    }

    .login-responsive {
        flex-direction: column;

        width: 100%;

        margin-left: 0;
        margin-right: 0;
    }

    .button-direction {
        padding-left: 0;
        padding-right: 0;
    }

    .login-margin-button {
        margin-top: 20px;
    }
}