.main-footer{
    color: white;
    background-color: #0e0e10; 

    padding-top: 1em;
    padding-bottom: 20px;

    /* position: relative; */
    margin: 0;
    margin-top: 2vh;

    max-width: none;

    bottom: 0; 
}
.main-footer-text{
    margin-top: 20px;
    text-align: center;
}

.footer-list{
    text-align: center;
}

.footer-headtext{
    text-align: center;
}