.modal-body {
    background-color: var(--lg);

    border-radius: 0 0 25px 25px;
}

.addoncard-card-container {
    border-radius: 25px;

    width: 100%;
    height: 10rem;

    background-size: 100% 100%;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

.addoncard-card-margin {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.card-shadow {
    box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    
    border-radius:25px;
}

.modal-content {
    border-radius: 25px;

    background-color: var(--lg);
}

.addoncard-modal-header{
    padding: 0;

    max-height: 250px;

    position: relative;

    border-bottom: none;
}

.addoncard-body-positioning {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.addoncard-modal-button {
    background-color: var(--mo);

    border: 1px solid black;
    border-radius: 25px;

    width: 100%;
    height: auto;

    font-size: larger;
    font-weight: 500;

    margin-top: 15px;

    
}

.addoncard-modal-img {
    width: 100%;

    border-radius: 25px 25px 0 0;

    overflow: hidden;
}

.addoncard-subtitle-margin {
    margin-bottom: 1rem;
    margin-top:0.5rem;
}

.addoncard-flex-gap {
    gap: 10px;
}

.fade {
    transition: opacity .15s linear;
}

.addoncard-platforms-picture {
    width: 35px;
    height: auto;

    margin: 5px;
    margin-right: 25px;
}

.addoncard-close-button-image {
    position: absolute;

    width: 50px;

    z-index: 5;

    top: 15px;
    right: 0px;

    cursor: pointer;
}

.addoncard-modal-button:disabled {
    font-size: large;
    background-color: gray;
}

@media (min-width: 979px) {
    .addoncard-card-container {
        max-width: 500px;
    }

    .addoncard-card-margin {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .addoncard-close-button-image {
        top: -65px;
    }
}