.Mcontainer {
    padding: 0;
    margin: 0;

    max-width: none;
    width: auto;

    color: var(--white);

    position:fixed;
}

.title-font-size {
    font-size: large;
}

.page-row-positioning {
    margin-top: 5vh;
}

@media (min-width: 969px) {
    .Mcontainer {
        margin-left: var(--sbsize);
    }
}